  <div class="mailbox-name mailbox-name-selected"
       id="mailbox-name"
       onclick="mailer.updateMailList(0, undefined, this.id)">
    <%= image_tag("home.png") %>受信箱
  </div>

  <div class="highslide-heading">
    設定
  </div>

  <% @filters.each do |f| -%>
    <div class="mailbox-name" id="mailbox-name-<%= f.name %>"
         onclick="mailer.updateMailList(<%= f.id%>, undefined, this.id)"
         filter_id="<%= f.id %>">
      <%= image_tag("tray.png") %><%= f.name %>
    </div>

    <div class="highslide-heading">
      設定
    </div>
  <% end -%>

  <div class="mailbox-name"
       id="mailbox-name-sended"
       onclick="mailer.updateMailList(-2, undefined, this.id)">
    <%= image_tag("sended.png") %>送信済
  </div>

  <div class="mailbox-name"
       id="mailbox-name-spam"
       onclick="mailer.updateMailList(-3, undefined, this.id)">
    <%= image_tag("spam_box.png") %>スパム
  </div>

  <div class="mailbox-name"
       id="mailbox-name-trash"
       onclick="mailer.updateMailList(-1, undefined, this.id)">
    <%= image_tag("trash_empty.png") %>ごみ箱
  </div>
